
.modal{
    max-width: 100vw;
    max-height: 100vh;
}

.modal-content{
    border-radius: 20px;
}

.modal-body{
    margin: 0 30px 50px 30px;
}

.modal .close, .modal .close:hover {
    color: #828282;
    opacity: 1 !important;

}

.modal-header{
    border: none;
    text-align: center;
}

.modal-header>section{
    width: auto;
    margin: 0 auto;
}

.modal-header .close{
    margin-left: 0;
}
