nav {
    @include size(100vw, 70px);
    background-color: $text-lightest;
    position: fixed;
    top: 0;
    z-index: 100;
    line-height: 70px;

    .nav-logo{
        float: left;
        margin-top: 7px;
        margin-bottom: 7px;

        @media (max-width: 520px){
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    .nav-item-list{
        float: right;

        .nav-item{
            @include inline-block;
        }
        .active{
            border-bottom: 2px solid #5454D4;
        }
    }

    .nav-link{
        @include font-style($text-dark, 16px, 0, 19px);
    }
}
