// Text
$text-lightest: #fff;
$text-gray: #576677;
$text-dark: #1C2085;
$text-darkest: #011226;

// Background
$bg-accent:  #63C7FF;
$bg-light: #F2F2F2;
$bg-dark: #4250BF;
$bg-darkest: #252B42;

$input-radius: 25px;
// Media query
$small: "screen and (max-width: 520px)";
$medium: "screen and (max-width: 780px)";
$large: "screen and (max-width: 1000px)";